{{ define "bodyclasses" }}single page 404{{ end }}

{{ define "main" }}
	<div class="wrapper">
			{{ partial "header-small.html" . }}
		<div class="section">
			<div class="container">
				<article class="post">
						<header>
								<div class="title text-center">
										<h1 class="title"><a href="#">{{ i18n "not_found_heading" }}</a></h1>
										<p>album/6UYUblITZs7VZf3pPhfQzJ</p>
								</div>
						</header>
						<p>{{ i18n "not_found_message" }}</p>
				</article>
				<div class="separator separator-primary"></div>
			</div>
		</div>
	</div>
{{ end }}